#show-all-table th {
    background-color: #292828;
    color: white;
}
#get-inst-pos {
    padding: 30px;
    border-radius: 5px;
    position: relative;
    margin: 40px;
    border: 1px grey dashed;
}
#get-inst-pos .form-group {    
    margin-left: 10%;
}
#get-inst-pos input {
    width: 90%;
}
#get-inst-pos button {
    width: 80%;
    margin-left: 10%;
}
#pos-response {
    width: 80%;
    margin-left:10%;   
}